.game-gui-toolbar {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.toolbar-item {
	background-image: url(/content/sprites/ui/panel_slot_64.png);
	background-position: 0 0;
	background-size: 64px 64px;
	background-repeat: no-repeat;
	background-color: transparent;
	display: block;
	min-width: 64px;
	min-height: 64px;
	width: 64px;
	height: 64px;
	margin: 0px;
	padding: 0px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	filter: brightness(0.8);
}

.toolbar-item:hover {
	cursor: pointer;
	filter: brightness(1.0);
}

.toolbar-item-active {
	cursor: pointer;
	filter: brightness(1.3);
}

.toolbar-item > img {
	width: 42px;
	height: 42px;
	pointer-events: none;
	user-select: none;
}

.toolbar-item-text {
	color: #ffcb00;
	font-size: 18px;
	text-rendering: optimizeLegibility;
	text-shadow: 0 1px 0 black;
	position: absolute;
	font-weight: 700;
	top: 10%;
	right: 20%;
	pointer-events: none;
	user-select: none;
}